#personaje
{
	border: 5px solid #281539;
	width: 180px;
	height: 250px;	
	box-shadow: 10px 10px 10px 5px  ;
	border-radius: 10px;
}

#boton
{
	background: #281539;
	position: relative;
    top: 20px;
    color:white;
    font-family: cursive; 
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px  ;

}
#velocidad
{
	background: #281539;
	position: relative;
    top: 20px;
    color:white;
    font-family: cursive; 
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px  ;
}
.escesta
{
	background: url(../img/escesta.png) no-repeat top left;

}

.paso_1{ background-position: 0 0; width: 139px; height: 240px; } 
.paso_2{ background-position: 0 -290px; width: 139px; height: 240px; } 
.paso_3{ background-position: 0 -580px; width: 139px; height: 238px; } 
.paso_4{ background-position: 0 -868px; width: 139px; height: 238px; } 
.paso_5{ background-position: 0 -1156px; width: 139px; height: 238px; } 
.paso_6{ background-position: 0 -1444px; width: 139px; height: 238px; } 
.paso_7{ background-position: 0 -1732px; width: 139px; height: 238px; } 